/* purgecss start ignore */
.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: .35s;
  & + * + .site-footer{
    opacity:0;
  }
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.image{
  overflow:hidden;
  background:$white;
}
/* purgecss end ignore */
