@import "vars";
@import "layout";
@import "animations";
@import "transitions";
@import "util";
@import "content";
// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

.social {
  padding-top: 1em;
}

.social a {
  padding: 0.5em 0.5em 0.3em 0.5em;
  border-radius: 1em;
  background-color: #e0dfd5;
  vertical-align: middle;
  display: inline;
}

.social img {
  width: 1em;
  height: 1em;
}
